<ion-view  hide-nav-bar="true" id="page1"  class="bg-img-page">
    <ion-content padding="true" class="has-header">
        <center>
            <br>
        <br>
        <img class="center" src="./img/logo.gif" width="200px">
        <br>
        <br>
        <h4 style="color: #4a4a4a;">We Don't Miss It </h4>
        <br><br><br>    
        <div class="row">
        <div class="col">
        <a href="#/page2" class="button button-outline button-royal button-block ">login</a></div>
         <div class="col">
        <a href="#/page3" class="button  button-outline button-balanced button-block ">Signup</a></div>
        </div>
    </ion-content>
</ion-view>
